.btw {
	.sheet-header {
		flex: 0 0 auto;
		&.flexrow {
			gap: 10px;
			align-items: flex-start;
		}
		.portrait {
			flex: 0 0 auto;
			height: 100px;
			width: 100px;
			text-align: center;
			border: 1px solid var(--color-border-dark);

			.profile-img {
				height: inherit;
				border: none;
				margin-right: 0;
			}
		}
		.header-fields {
			input[name="name"] {
				font-size: 2em;
				height: calc(var(--form-field-height) + 10px);
			}
			input[type="number"] {
				text-align: center;
				max-width: 32px;
			}
			.class.flexrow {
				gap: 4px;
			}
			.experience input {
				max-width: unset;
			}
			.form-group.level {
				flex: 0 0 auto;
			}
		}
	}
	.sheet-tabs {
		flex: 0 0 auto;
	}
	.sheet-body {
		overflow: hidden auto;
		.tab.features.flexrow {
			gap: 5px;
		}
		input {
			max-width: 32px;
			text-align: center;
		}
		.editor {
			min-height: 200px;
		}
	}

	&.sheet {
		&.actor {
			min-height: 735px;
			min-width: 600px;

			.portrait {
				height: 200px;
				width: 200px;
			}
			.left-side {
				.abilities {
					>div.flexrow {
						gap: 2px;
						align-items: center;
					}
					label,
					.ability-score,
					.ability-mod {
						font-size: var(--font-size-20);
					}
					.ability {
						&.flexcol {
							align-items: center;
						}
						input.ability-score {
							flex: 0 0 auto;
						}
					}
					.ability-modifiers {
						flex: 0 0 auto;

					}
					.ability-features {
						text-align: right;
						align-self: center;
					}
				}
				.saves {
					height: 120px;
					.save.flexcol {
						text-align: center;
						align-items: center;

						label {
							flex: 0;
							min-height: 34px;
							align-content: center;
						}

						&:nth-child(odd) {
							margin-bottom: auto;
						}
						&:nth-child(even) {
							margin-top: auto;
						}
					}
					.save-wrapper {
						flex: 0 0 auto;
						border: 1px solid var(--color-border-light-tertiary);
						border-radius: 20px;
						padding: 1px 0;
						input {
							border-radius: 20px;
							height: 32px;
						}
					}
				}
			}
			.spacer.flexrow {
				flex: 0;
				&:before {
					content: "";
					border-left: 1px solid var(--color-border-light-primary);
					  border-right: 1px solid var(--color-border-light-highlight);
					align-self: stretch;
				}
			}
			.right-side {
				.right-fields {
					align-items: center;
					margin: 3px 0;

					label {
						text-align: center;
					}

					input {
						font-size: var(--font-size-20);
					}

					> div.flexcol {
						align-items: center;
					}

					.hp {
						gap: 3px;
					}
				}
			}
		}
		&.item {
			min-height: 350px;
			min-width: 400px;

			.details-sidebar {
				flex: 0 1 32%;
				border-right: 1px solid var(--color-border-light-primary);
				padding-right: 2px;
			}

			.perLevel {
				flex: 0 0 auto;
			}
		}
		.window-content {
			overflow-y: hidden;
			form {
				height: 100%;
				overflow: hidden;
			}
		}
	}
}